{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Sistema Hospitalar{% endblock %}</title>
</head>
<body>

    <aside class="sidebar">
        <div class="sidebar-header">
            <i class="fa-solid fa-hospital fa-xl"></i>
            <span>Hospital CC</span>
        </div>

        <ul class="menu">

            <li class="menu-item">
                <a href="{% url 'home' %}">
                    <i class="fa-solid fa-house"></i>
                    Dashboard
                </a>
            </li>

            <li class="menu-item has-submenu">
                <div class="submenu-title">
                    <i class="fa-solid fa-user-injured"></i>
                    Pacientes
                    <i class="fa-solid fa-chevron-down arrow"></i>
                </div>
                <ul class="submenu">
                    <li><a href="{% url 'consultar_paciente' %}">Consultar</a></li>
                    <li><a href="{% url 'cadastrar_paciente' %}">Cadastrar</a></li>
                </ul>
            </li>

            <li class="menu-item has-submenu">
                <div class="submenu-title">
                    <i class="fa-solid fa-stethoscope"></i>
                    Atendimentos
                    <i class="fa-solid fa-chevron-down arrow"></i>
                </div>
                <ul class="submenu">
                    <li><a href="{% url 'consultar_recepcao' %}">Recepção</a></li>
                    <li><a href="{% url 'consultar_triagem' %}">Triagem</a></li>
                    <li><a href="{% url 'consultar_consulta' %}">Consultas</a></li>
                    <li><a href="{% url 'consultar_marcacao' %}">Marcações</a></li>
                    <li><a href="{% url 'consultar_exame_paciente' %}">Exames do Paciente</a></li>
                </ul>
            </li>

            <li class="menu-item has-submenu">
                <div class="submenu-title">
                    <i class="fa-solid fa-suitcase-medical"></i>
                    Administração
                    <i class="fa-solid fa-chevron-down arrow"></i>
                </div>
                <ul class="submenu">
                    <li><a href="{% url 'consultar_funcionario' %}">Funcionários</a></li>
                    <li><a href="{% url 'consultar_cargo' %}">Cargos</a></li>
                    <li><a href="{% url 'consultar_setor' %}">Setores</a></li>
                    <li><a href="{% url 'consultar_laboratorio' %}">Laboratórios</a></li>
                    <li><a href="{% url 'consultar_exame' %}">Exames</a></li>
                </ul>
            </li>

        </ul>
    </aside>

    <header class="topbar">
        <div class="topbar-left">
            <button id="menuCollapse" class="icon-btn"><i class="fa-solid fa-bars"></i></button>
            <h1 class="app-title">{% block header_title %}Hospital Caminho do Céu{% endblock %}</h1>
        </div>
        <div class="topbar-right">
            <button id="themeToggle" title="Alternar tema" class="icon-btn"><i class="fa-solid fa-moon"></i></button>
        </div>
    </header>

    <main class="content">
        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static 'js/menu.js' %}"></script>
</body>
</html>
