{% extends 'baseFuncionario.html' %}
{% block title %}Consultas{% endblock %}
{% block content %}
<h2>Consultas</h2>
<div class="table-container">
<table>
<thead><tr><th>ID</th><th>Funcionário</th><th>Paciente</th><th>Sintomas</th><th>Prescrição</th><th>Doença</th><th>Data/Hora</th></tr></thead>
<tbody>
{% for item in dados %}
<tr>
<td>{{ item.id_consulta }}</td>
<td>{{ item.funcionario.nome }}</td>
<td>{{ item.paciente.nome }}</td>
<td>{{ item.sintomas }}</td>
<td>{{ item.prescricao_medica }}</td>
<td>{{ item.doenca }}</td>
<td>{{ item.data_hora }}</td>
</tr>
{% empty %}
<tr><td colspan="7">Nenhuma consulta encontrada.</td></tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
